
<div class="container">

  <div class="row">

    <div class="col-md-12">

      <loading-button [IsBusy]="working" (onSubmit)="Submit($event)" mat-raised-button type="button">
        <loading-button-ready>
          Save
        </loading-button-ready>
        <loading-button-busy>
          Loading...
        </loading-button-busy>
      </loading-button>

    </div>

    <div class="col-md-12">
      <check-animation color="rgba(0, 150, 0, 1)" play-after="500" width="35" speed="6"></check-animation>
    </div>


  </div>

  <div class="row">
    <div class="col-md-12">

      <loading-panel [IsBusy]="true">
          <div style="width:200px; height:200px; border: 1px solid; border-color: lightgray">
            <p style="padding:6px;">This border is produced by the transluded element. The loading-panel has no inherited border style.</p>
          </div>
      </loading-panel>

    </div>
    <div class="col-md-12 mt-2">
      <button mat-raised-button (click)="ShowProgress()">Show Progress</button>
      <button mat-raised-button (click)="ShowCompleted()">Show Completed</button>
    </div>

    <div class="col-md-12 mt-2">
      <div>
        <quill-editor [(ngModel)]="editor">
          <div quill-editor-toolbar>
            <span class="ql-formats">
              <button class="ql-bold" [title]="'Bold'"></button>
              <button class="ql-italic" [title]="'Italic'"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-header" [value]="1"></button>
              <button class="ql-header" [value]="2"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-align" [title]="'Aligment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
              <select class="ql-align" [title]="'Aligment2'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
          </div>
        </quill-editor>
      </div>
      
    </div>

    <div class="col-md-12 mt-2">
      <form class="example-form">
        <ssn-input placeholder="Enter Social Security" [HideValue]="true" [formControl]="SnnFormControl" [disabled]="true"
                   [required]="true"
                   [Last4Only]="true"
                   [DisplayToggle]="false"></ssn-input>
        <!--<mat-error *ngIf="SnnFormControl.hasError('required')">
          required ssn
        </mat-error>-->
      </form>
</div>

  </div>

</div>
