
 

<div fxLayout="row" fxLayoutAlign="center center">
  <div [fxFlex]="PreviewFlexSize" >
    <image-rio-loader [actual-width]="thumbnailActualWidth" [actual-height]="thumbnailActualHeight" [image-id]="$imgId"
                      [aspect-ratio-width]="aspectRatioWidth" [aspect-ratio-height]="aspectRatioHeight"
                      delay-show="200" missing-image-id="dSaintlp"></image-rio-loader>
  </div>
</div>


<div fxLayout="row" fxLayoutAlign="center center" [style.marginTop.px]="5">

  <div>


    <loading-button [IsBusy]="Loading" (onSubmit)="onClick()" mat-raised-button type="button" [disabled]="_disabled">
      <loading-button-ready>

        <ng-content></ng-content>
        <mat-icon>camera_alt</mat-icon>

      </loading-button-ready>
      <loading-button-busy>
        Loading...
      </loading-button-busy>
    </loading-button>

    <input type="file" [uploader]="uploader" accept="image/png,image/gif,image/jpeg" ng2FileSelect [hidden]="true" #inputFile (onFileSelected)="fileSelected($event)" />

  </div>

</div>
