:host {
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 350px;
}

:host ::ng-deep .droppable-group {
  border: 1px solid lightgray;
  display: inline-block;
  min-height:20px;
}

:host ::ng-deep .form-edit-tabs .mat-tab-label {
  min-width: 100px;
}
::host mat-tab-group {
  height: 100%;
}
