
  <mat-sidenav-container>

    <mat-sidenav [opened]="true" [mode]="'side'" position="end" >

      <mat-tab-group class="form-edit-tabs">
        <mat-tab label="Add">

          <div class="container-fluid">


            <div *ngFor="let formlyGroup of formlyGroups">
              <div class="pl-2 row" >

                <div class="col-sm-9">
                  <form [formGroup]="formlyGroup.form" (ngSubmit)="submit()">
                    <formly-form [model]="formlyGroup.model" [fields]="formlyGroup.fields" [options]="formlyGroup.options" [form]="formlyGroup.form">
                      <div class="pt-2">
                        <button type="submit" class="btn btn-primary submit-button " [hidden]="true">Submit</button>

                      </div>
                    </formly-form>
                  </form>
                </div>

                <div class="col-sm-3">
                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item *ngFor="let group of Groups" (click)="AddToGroup(group, formlyGroup)"> {{group.name}} </button>
                  </mat-menu>

                  <mat-icon class="pt-2" [matMenuTriggerFor]="appMenu">add</mat-icon>
                 

                </div>
                

              </div>
              
            </div>

       
          </div>

        </mat-tab>
        <mat-tab label="Edit">

          <div class="pt-2 container">
            <mat-form-field>
              <mat-select placeholder="Input Type" [(value)]="InputType" (change)="InputTypeChanged($event)">
                <mat-option *ngFor="let fc of FormControls" [value]="fc">{{ fc.namekeyLabel}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pt-2 container" *ngIf="InputType">
         

            <form [formGroup]="formlyInputTypeGroup.form" (ngSubmit)="updateInputType()">
              <formly-form [model]="formlyInputTypeGroup.model" [fields]="formlyInputTypeGroup.fields" [options]="formlyInputTypeGroup.options" [form]="formlyInputTypeGroup.form">
                <div class="pt-2">

                  <loading-button [IsBusy]="IsWorking" mat-raised-button type="submit" [disabled]="formlyInputTypeGroup.form.invalid">
                    <loading-button-ready>
                      Update
                    </loading-button-ready>
                    <loading-button-busy>
                      Saving
                    </loading-button-busy>
                  </loading-button>

                  <button mat-raised-button type="button" (click)="formlyInputTypeGroup.options.resetModel()">Revert</button>

                </div>
              </formly-form>
            </form>


          </div>

        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>

    <mat-sidenav-content class="pr-3 bg-white">

      <mat-tab-group class="form-edit-tabs">

        <mat-tab label="Design">

          <div class="container pt-4 designer">

            <form [formGroup]="formlyGroupPreview.form" (ngSubmit)="submit()">
              <formly-form [model]="formlyGroupPreview.model" [fields]="formlyGroupPreview.fields" [options]="formlyGroupPreview.options" [form]="formlyGroupPreview.form">
                <div class="pt-2">
                  <button type="submit" class="btn btn-primary submit-button " [hidden]="true">Submit</button>

                </div>
              </formly-form>
            </form>


          </div>
        </mat-tab>

        <mat-tab label="Preview">

          <div class="container pt-4 previewer">

            <json-form [formlyGroup]="formlyGroupPreview"
                       [IsWorking]="false"
                       [btn-ready]="'Save'"
                       [btn-busy]="'Saving..'"
                       (onFormSubmit)="formSubmit($event)"></json-form>
            </div>
            

        </mat-tab>
        <mat-tab label="Schema">
          <pre>
            Hello World
          </pre>
        </mat-tab>

      </mat-tab-group>

    </mat-sidenav-content>

</mat-sidenav-container>
  
