<div fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="100">
    <!--<div fxFlexOffset="0"
         fxFlexOffset.gt-xs="25" fxFlex.gt-xs="50"
         fxFlexOffset.gt-md="40" fxFlex.gt-md="20">

      <mat-card>
        <mat-card-content>
          <p>Here is the view</p>
          </mat-card-content>
        </mat-card>

    </div>-->
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">

      <div fxFlex="350px">

        <mat-card>
          <mat-card-content>
            <p>Here is the view</p>
          </mat-card-content>
        </mat-card>

      </div>

    </div>
  </div>

</div>
